#header{
    color: white;
    background-color: transparent;
    text-align: center; 
    padding: 70px  4em 10px 4em;
    h1{
        font-size: 32px;
        font-weight: 700;
    }
    p{
        font-size: 28px;
    }
}